// vim: ft=cpp

#define COMMA ,

#define SYMBD(d) SYMBDT(d,int)
#include "inst_dim"
#undef SYMBD

#define SYMBD(d) SYMBDT(d,double)
#include "inst_dim"
#undef SYMBD

#define SYMBD(d) SYMBDT(d,shark::ndim::vec<d COMMA double>)
#include "inst_dim"
#undef SYMBD

#define SYMBD(d) SYMBDT(d,std::complex<double>)
#include "inst_dim"
#undef SYMBD

#ifndef SYMB_ARITH

#define SYMBD(d) SYMBDT(d,shark::ndim::part<d>)
#include "inst_dim"
#undef SYMBD

#endif

#undef COMMA
